---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sainath Dushatti - Portfolio">
  <section class="flex flex-row items-center gap-6 w-full max-w-3xl mx-auto mt-12 mb-6 px-4">
    <img src="/avatar.png" alt="Profile" class="w-24 h-24 rounded-full object-cover border-4 border-neutral-700" />
    <div>
      <h1 class="text-2xl md:text-4xl font-bold text-neutral-100 mb-2">Sainath Dushatti</h1>
      <div class="text-base md:text-2xl text-neutral-400 font-normal">Cyber Security Enthusiast based in India</div>
    </div>
  </section>
  <section class="w-full max-w-3xl mx-auto px-4">
    <div class="space-y-6 text-lg text-neutral-200 mb-8">
		<p>Hi, I’m a Cyber Security Engineer based in India.</p>
		
		<p>Right now, I’m working at a startup, where I get to learn and do a lot of different things.</p>
		
		<p>Over the years, I’ve worked with many technologies in different areas. I’ve taken on various roles and learned a lot from each one.</p>
		<p>I enjoy building things, solving problems, and learning new tech. I have experience in software development, working in security operations (SOC), and using AI tools and prompts.</p>
    </div>
    <div class="flex flex-wrap gap-6 items-center mt-6">
		<a href="https://sainathdushatti.substack.com/" target="_blank" class="flex items-center gap-2 text-neutral-300 hover:text-white text-base"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
			<path fill-rule="evenodd" d="M1.5 9.832v1.793c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875V9.832a3 3 0 0 0-.722-1.952l-3.285-3.832A3 3 0 0 0 16.215 3h-8.43a3 3 0 0 0-2.278 1.048L2.222 7.88A3 3 0 0 0 1.5 9.832ZM7.785 4.5a1.5 1.5 0 0 0-1.139.524L3.881 8.25h3.165a3 3 0 0 1 2.496 1.336l.164.246a1.5 1.5 0 0 0 1.248.668h2.092a1.5 1.5 0 0 0 1.248-.668l.164-.246a3 3 0 0 1 2.496-1.336h3.165l-2.765-3.226a1.5 1.5 0 0 0-1.139-.524h-8.43Z" clip-rule="evenodd" />
			<path d="M2.813 15c-.725 0-1.313.588-1.313 1.313V18a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3v-1.688c0-.724-.588-1.312-1.313-1.312h-4.233a3 3 0 0 0-2.496 1.336l-.164.246a1.5 1.5 0 0 1-1.248.668h-2.092a1.5 1.5 0 0 1-1.248-.668l-.164-.246A3 3 0 0 0 7.046 15H2.812Z" />
		  </svg>Newsletter</a>
      <a href="https://www.linkedin.com/in/sainathdushatti/" target="_blank" class="flex items-center gap-2 text-neutral-300 hover:text-white text-base"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="w-5 h-5"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.761 0 5-2.239 5-5v-14c0-2.761-2.239-5-5-5zm-11 19h-3v-9h3v9zm-1.5-10.268c-.966 0-1.75-.784-1.75-1.75s.784-1.75 1.75-1.75 1.75.784 1.75 1.75-.784 1.75-1.75 1.75zm15.5 10.268h-3v-4.604c0-1.099-.021-2.513-1.532-2.513-1.532 0-1.768 1.197-1.768 2.434v4.683h-3v-9h2.881v1.233h.041c.401-.761 1.379-1.563 2.841-1.563 3.039 0 3.6 2.001 3.6 4.601v4.729z"/></svg>LinkedIn</a>
      <a href="https://x.com/sainathdushatti" target="_blank" class="flex items-center gap-2 text-neutral-300 hover:text-white text-base"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="w-5 h-5"><path d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-.427.722-.666 1.561-.666 2.475 0 1.708.87 3.216 2.188 4.099-.807-.026-1.566-.248-2.229-.616v.062c0 2.385 1.693 4.374 4.188 4.827-.693.188-1.452.232-2.224.084.627 1.956 2.444 3.377 4.6 3.417-2.07 1.623-4.678 2.348-7.29 2.034 2.179 1.397 4.768 2.213 7.557 2.213 9.142 0 14.307-7.721 13.995-14.646.962-.689 1.797-1.56 2.457-2.549z"/></svg>Twitter</a>
      <a href="https://www.youtube.com/@sainathdushatti" target="_blank" class="flex items-center gap-2 text-neutral-300 hover:text-white text-base"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="w-5 h-5"><path d="M23.498 6.186a2.994 2.994 0 0 0-2.112-2.112C19.458 3.5 12 3.5 12 3.5s-7.458 0-9.386.574a2.994 2.994 0 0 0-2.112 2.112C0 8.114 0 12 0 12s0 3.886.502 5.814a2.994 2.994 0 0 0 2.112 2.112C4.542 20.5 12 20.5 12 20.5s7.458 0 9.386-.574a2.994 2.994 0 0 0 2.112-2.112C24 15.886 24 12 24 12s0-3.886-.502-5.814zM9.545 15.568V8.432l6.545 3.568-6.545 3.568z"/></svg>YouTube</a>
      <a href="mailto:sdushatti@gmail.com" class="flex items-center gap-2 text-neutral-300 hover:text-white text-base"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5"><path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25H4.5a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-.876 1.789l-7.5 5.625a2.25 2.25 0 01-2.748 0L3.126 8.782A2.25 2.25 0 012.25 6.993V6.75" /></svg>Email</a>
    </div>
  </section>
</Layout>
